body {
	background-image: url(../images/backgroundindex.jpg);
	background-attachment: fixed;
	width: 100%;
	background-size: 100%;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 600px;
	width: 125px;
	background-color: rgba(150, 177, 207, .7);
}

nav ul li {
	list-style-type: none;
	line-height: 100px;
	font-family: "League Gothic", Georgia, serif;
}

nav ul li a {
	text-decoration: none;
}

ul {
	margin: 0;
}

h1 {
	margin-top: 0;
	font-size: 550%;
	font-family: "League Gothic", Georgia, serif;
	color: blue;
	position: absolute;
	top: 5px;
	left: 525px;
	letter-spacing: 30px;
}

.gallery {
	display: inline-block;
	margin: 125px 0px 0px 125px;
}

.gallery img {
	float: left;
	border: solid 6px white;
	border-radius: 12px;
	margin: 5px;
}

.buttonnav {
	text-decoration: none;
	font-size: 25px;
	padding-left: 10px;
	color: rgba(0, 0, 255, .7);
	transition: all 0.5s 0.2s;
}

.buttonnav:hover {
	color: rgba(0, 0, 255, 1);
	font-size: 35px;
	transition: all 0.5s;
}

.icon-social-facebook {
	font-size: 50px;
	color: black;
	text-decoration: none;
	color: rgba(59, 89, 152, .7);
	transition: all 0.5s 0.2s;
}

.icon-social-facebook:hover {
	color: rgba(59, 89, 152, 1);
	font-size: 60px;
	transition: all 0.5s;
}

.icon-social-twitter {
	font-size: 50px;
	color: black;
	text-decoration: none;
	color: rgba(0, 172, 237, .7);
	transition: all 0.5s 0.2s;
}

.icon-social-twitter:hover {
	color: rgba(0, 172, 237, 1);
	font-size: 60px;
	transition: all 0.5s;
}